<div class="container px-4 px-lg-5" id="home">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://uiin.org/wp-content/uploads/2019/09/for-Eloise.jpg.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://it.wisc.edu/wp-content/uploads/Study-space-900x400-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://knowledgeone.ca/wp-content/uploads/2018/11/online-readiness-01.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Welcome</h1>
            <p>Team-based learning is a collaborative learning and teaching strategy that enables people to follow a structured process to enhance student engagement and the quality of student or trainee learning.</p>
            <a class="btn btn-primary" id="btnStart" href="#!" onclick=callStartNow()>Start now!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <h4>Why do we use TBL?</h4>
    <div class="card text-white bg-secondary my-5 py-4 text-justify">
        <div class="card-body">
            <ul>
                <li>
                    <p>The primary learning objective in TBL is to go beyond simply covering content and focus on ensuring that students have the opportunity to practice using course concepts to solve problems.</p>
                </li>
                <li>
                    <p>Recent systematic reviews provide evidence of positive outcomes in terms of student experience and academic achievement, particularly when compared to traditional lectures.</p>
                </li>
                <li>
                    <p>The interactive nature of TBL encourages healthcare students to develop their communication and collaboration skills, providing a valuable learning experience.</p>
                </li>
                <li>
                    <p>One major benefit of TBL is allowing large numbers of students to experience small group learning, with a small number of expert facilitators.</p>
                </li>
                <li>
                    <p>Additionally, students are motivated to complete the pre-reading assigned, as they are held accountable through the readiness assurance testing component of this model, resulting in less content being required to be covered during
                        class ("flipped classroom").</p>
                </li>
            </ul>
        </div>
    </div>
</div>